/* Primary color */
.home-message:hover {background-color:#2d5c88; background-color: rgba(45, 92, 136, 0.6);}
nav.woocommerce-pagination ul li a:hover, .wp-pagenavi a:hover, .accordion-heading .accordion-toggle.open {border-color: #2d5c88;}
a, #nav-main ul.sf-menu ul li a:hover, .product_price ins .amount, .price ins .amount, .color_primary, .primary-color, #logo a.brand, #nav-main ul.sf-menu a:hover,
.woocommerce-message:before, .woocommerce-info:before, #nav-second ul.sf-menu a:hover, .footerclass a:hover, .posttags a:hover, .subhead a:hover, .nav-trigger-case:hover .kad-menu-name, 
  .nav-trigger-case:hover .kad-navbtn, #kadbreadcrumbs a:hover {color: #2d5c88;}
.widget_price_filter .ui-slider .ui-slider-handle, .product_item .kad_add_to_cart:hover, .product_item.hidetheaction:hover .kad_add_to_cart:hover, .kad-btn-primary,
.product-category.grid_item a:hover h5, .woocommerce-message .button, .widget_layered_nav_filters ul li a, .widget_layered_nav ul li.chosen a,
#containerfooter .menu li a:hover, .bg_primary, .portfolionav a:hover, .home-iconmenu a:hover, p.demo_store, .topclass, #commentform .form-submit #submit {background: #2d5c88;}

/* 20% lighter than Primary */
a:hover {color: #6c8dab;}
.kad-btn-primary:hover, .woocommerce-message .button:hover, #commentform .form-submit #submit:hover, .widget_layered_nav_filters ul li a:hover, .widget_layered_nav ul li.chosen a:hover {background: #6c8dab;}

.product_item.hidetheaction .kad_add_to_cart {background: transparent; color: transparent;}
.product_item.hidetheaction:hover .kad_add_to_cart {background: #6c8dab; color: #fff;}

/* Background Skins */
.contentclass, .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {background: #fff;}
.mobileclass {background: #f2f2f2; background: rgba(0,0,0,0.05);}
.headerclass {background: #fff;}
.footerclass {background: #f2f2f2;}
.navclass {background: #fff;}
.bg-lightgray {background: #f2f2f2; background:rgba(0, 0, 0, 0.05); }
/* Header - Type */
h1, h2, h3 {color:#333;}
h4 {color: #444;}
h5 {color: #555;}

.sf-menu a {letter-spacing: normal;}
#nav-second ul.sf-menu a {letter-spacing: normal;}

.color_gray, #kadbreadcrumbs a, .subhead, .subhead a, .posttags, .posttags a, .product_meta a {color: #777;}

body, .color_body, .sidebar a, .author-name a, .author-latestposts h5 a, .author-latestposts h5, 
.author-profile .author-occupation, .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .product_price, .product_details > .product_excerpt {color:#444;}

/* General */
a:hover {text-decoration: none;}
.hometitle {text-align: center;}

/* Footer */
#containerfooter h3, #containerfooter {color:#555;}
.footercredits p {color: #aaa;}
.footerclass a {color: #555;}
.footernav ul li a {color:#555;}

/* Custom */
.sidebar a {
	color:#555;
}