{% extends "clientBase.jinja2" %}

{% block body %}
	<div id="body">
	    <div class="options-container">
	    	<h1>Candidates</h1>
	    	<ul>
	    		<li><a href="/candidate/1/">Tan Pear</a></li>
	    		<li><a href="/candidate/2/">Orange Sun</a></li>
	    		<li><a href="/candidate/3/">Black Bike</a></li>
	    		<li><a href="/candidate/4/">Maroon Flag</a></li>
	    	</ul>
	    </div>
	</div>
{% endblock %}