
<body>




<!-- HEADER HOME ############################################### -->
<section id="home">

  <div class="row">
      <div class="twelve columns">
      
          <h1 class="fade-it"><img alt="YOURLOGO" src="img/logo_header.png"></h1>
  
          
            
      </div>
      
      <!-- LITTLE LOGO SEE WHAT WE DO -->

        <div id="down_button" class="fade-it"><a href="#narrative"></a></div>

      <!-- END LITTLE LOGO SEE WHAT WE DO  -->
      
    </div>
</section>


<!-- END HEADER HOME ############################################### -->


<!-- NAVIGATION ############################################### -->

		<div class="nav-container">
		
			<nav>
				 <div id="logo"><a href="#"><img alt="Highway Child Logo" src="img/logo_small.png"></a></div>
				<ul>
			 
					<li><a href="#home" class="selected">Home</a></li>
					<li><a href="#narrative">Narrative</a></li>
					<li><a href="#musicvideos">Music Videos</a></li>
                 	<li><a href="#documentary">Documentary</a></li>
					<li><a href="#promotional">Promotional</a></li>
					<li><a href="#contact">Contact</a></li>
			 
				</ul>
				
			 
			</nav>
		
		</div> 

		
<!-- END NAVIGATION ############################################### -->



<!-- NARRATIVE SECTION ############################################### -->

<section id="narrative">

    <div class="row">
    	<div class="twelve columns centered">
    		<h2><br><br><br><br><br><br>Narrative
	    		<i class="title_line"></i>
	      	</h2>
    	</div>
    </div>


    <div class="row">
    	<div class="nine columns centered">
    		<p class="subtittle" >Highway Child founder Tim Gregory has directed one feature film, Political Animals (2009) and several short films, including the award-winning The Strange Case of Salman abd-al Haqq. His second feature, Revolutions Per Minute is currently in development and begins production in 2014.</p>
    	</div>
    </div>

    <div class="row">	    

<!-- WORKS GRID -->
		<ul id="og-grid" class="og-grid">
	
			<li>
            <a href='http://www.youtube.com/embed/imQI0bYNAMs'
  			       id="ilightbox"
   				     data-options="width: 800, height: 500">
   					 <figure class="cap-bot">
    					<img src="img/vids/nar/strange.jpg" alt="img01"/>

                    	<figcaption><h3>Strange Case</h3><br>Arab-American student Salman is abducted and interrogated by the CIA after he gets mixed up with suspected terrorists.</span>
                   		<!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    	<!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                		</figcaption>
                	</figure>
			       </a> 
     </li>             
              
    	<li>
            <a href='http://www.youtube.com/embed/ZZawLhg8zLE'
  			        id="ilightbox2"
          data-options="width: 800, height: 500">
           				 <figure class="cap-bot">
    			         	<img src="img/vids/nar/politic.jpg" alt="img01"/>

                    	<figcaption><h3>Political Animals</h3><br>Sam, an investment banker finds himself at the heart of a political scandal in San Francisco.</span>
                   		<!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    	<!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                		</figcaption>
                	</figure>
		      	</a> 
    </li>       
                
    
	
		</ul>
</div>

<!-- END WORKS GRID -->
</section>

<!--  END NARRATIVE ############################################### -->

<!-- MUSIC VIDEOS SECTION ############################################### -->

<section id="musicvideos">

 <div class="row">
    	<div class="twelve columns centered">
    		<h2><br><br><br><br><br><br><br><br><br><br>Music Videos
	    		    		<i class="title_line"></i>
	      	</h2>
    	</div>
    </div>


    <div class="row">
    	<div class="nine columns centered">
    		<p class="subtittle" >Highway Child believes that creative and innovative concepts are key to the success of music videos and has produced work for artists such as iconic rapper Pharoahe Monch and legendary drum and bass DJ Dego.</p>
    	</div>
    </div>

    <div class="row">
    <div class= "nine columns centered">

	    

<!-- WORKS GRID -->
		<ul id="og-grid" class="og-grid">
	
			<li>
            <a href='http://player.vimeo.com/video/49973010'
               id="ilightbox3"
               data-options="width: 800, height: 500">
                <figure class="cap-bot">
    					<img src="img/vids/mv/1.jpg" alt="img01"/>

                    <figcaption><h3>Dego<br>Until It’s Done</h3><br>
This stylized narrative music video for the legendary DJ (formerly of 4Hero).</span>
                    <!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    <!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                </figcaption>
                </figure>
            </a>              
            </li>
    
		
			
			<li>
            <a href='http://player.vimeo.com/video/67897785'
               id="ilightbox4"
               data-options="width: 800, height: 500">
                <figure class="cap-bot">
    					<img src="img/vids/mv/2.jpg" alt="img01"/>

                    <figcaption><h3>YNG_BMC<br>What Jennifer Taught Me</h3><br> A story of intrigue and fleeting romance, with tracks by actor & rapper Brandon Young (The Wire).</span>
                    <!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    <!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                </figcaption>
                </figure>
            </a>              
            </li>
            
			<li>
            <a href='http://player.vimeo.com/video/52125550'
               id="ilightbox5"
               data-options="width: 800, height: 500">
                <figure class="cap-bot">
    					<img src="img/vids/mv/3.jpg" alt="img01"/>

                    <figcaption><h3>Lily and the Parlour Tricks<br>Murder Song</h3><br>
Based on true events, a hotshot attorney arrives in a remote town to defend an axe-murderer.</span>
                    <!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    <!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                </figcaption>
                </figure>
            </a>              
            </li>
			
            <li>
            <a href='https://player.vimeo.com/video/66412772'
               id="ilightbox6"
               data-options="width: 800, height: 500">
                <figure class="cap-bot">
    					<img src="img/vids/mv/4.jpg" alt="img01"/>

                    <figcaption><h3>Pharoahe Monch<br>Haile Selassie Karate</h3><br>
A slice of life from South Africa for legendary rapper Pharoahe Monch.</span>
                    <!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    <!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                </figcaption>
                </figure>
            </a>              
            </li>
            
           </ul>
</div>
</div>
<!-- END WORKS GRID -->

	</div>



</section>

<!-- END MUSIC VIDEOS ############################################### -->





<!-- DOCUMENTARY SECTION ############################################### -->

<section id="documentary">


 <div class="row">
    	<div class="twelve columns centered">
    		<h2><br><br><br><br><br><br><br><br><br><br>Documentary Film
	    		    		<i class="title_line"></i>
	      	</h2>
    	</div>
    </div>


    <div class="row">
    	<div class="nine columns centered">
    		<p class="subtittle" >Highway Child also brings its storytelling expertise to short documentaries and has worked extensively with <a href="http://www.unicef.org">UNICEF</a>.
</p>
    	</div>
    </div>

    <div class="row">

	    

<!-- WORKS GRID -->
		<ul id="og-grid" class="og-grid">
	
			<li>
            <a href='http://www.youtube.com/embed/TiXPtO4ssZA'
               class="ilightbox2"
               data-options="width: 800, height: 500">
                <figure class="cap-bot">
    					<img src="img/vids/doc/1.png" alt="img01"/>

                    <figcaption><h3>2 Lives:2 Miles Apart<br>2012 Edition</h3><br>
Young people in 8 cities around the world made films about life in big cities.</span>
                    <!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    <!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                </figcaption>
                </figure>
            </a>       
               <a href='http://www.youtube.com/embed/Jykd1absGbY' 
              class="ilightbox2"
               data-options="width: 800, height: 500"></a>
               <a href='http://www.youtube.com/embed/FRM1p4BXoJs'
               class="ilightbox2"
               data-options="width: 800, height: 500"></a>
               <a href='http://www.youtube.com/embed/uI5XyI0RcRU'
               class="ilightbox2"
               data-options="width: 800, height: 500"></a>  
               <a href='http://www.youtube.com/embed/2E-n22SgATo'
               class="ilightbox2"
               data-options="width: 800, height: 500"></a> 
               <a href='http://www.youtube.com/embed/5u5Hy8Q3nZ0'
                class="ilightbox2"
               data-options="width: 800, height: 500"></a> 
               <a href='http://www.youtube.com/embed/HTbvPN8hNNg'
              class="ilightbox2"
               data-options="width: 800, height: 500"></a> 
            </li>
    
		
			
			<li>
            <a href='http://www.youtube.com/embed/FveY-24qt9o?list=PLzfcpxK7Y8rQMRErZrj_h-ENuMMDXs98r'
               class="ilightbox"
               data-options="width: 800, height: 500">
                <figure class="cap-bot">
    					<img src="img/vids/doc/2.png" alt="img01"/>

                    <figcaption><h3>2 Lives:2 Miles Apart<br>2013</h3><br>
This year, we meet 12 remarkable young people from around the world who live with disabilities.</span>
                    <!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    <!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                </figcaption>
                </figure>
            </a> 
            <a href='http://www.youtube.com/embed/ejWGThDRllE?list=PLzfcpxK7Y8rQMRErZrj_h-ENuMMDXs98r'
            class="ilightbox"
               data-options="width: 800, height: 500"></a> 
                <a href='http://www.youtube.com/embed/Hd8_UEB8T4w?list=PLzfcpxK7Y8rQMRErZrj_h-ENuMMDXs98r'
            class="ilightbox"
               data-options="width: 800, height: 500"></a>  
                <a href='http://www.youtube.com/embed/Bp5dHoEk0_w'
            class="ilightbox"
               data-options="width: 800, height: 500"></a>  
                <a href='http://www.youtube.com/embed/6hC3Wf1qLs0'
            class="ilightbox"
               data-options="width: 800, height: 500"></a>  
                <a href='http://www.youtube.com/embed/-P97cZtFrl8'
            class="ilightbox"
               data-options="width: 800, height: 500"></a>              
            </li>
            
			<li>
            <a href='http://player.vimeo.com/video/46254702'
               id="ilightbox9"
               data-options="width: 800, height: 500">
                <figure class="cap-bot">
    					<img src="img/vids/doc/3.png" alt="img01"/>

                    <figcaption><h3>Pharoahe Monch & Jean Grae</h3><br>
Highway Child followed legendary rappers Pharoahe Monch and Jean Grae on their tour of South Africa.</span>
                    <!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    <!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                </figcaption>
                </figure>
            </a>              
            </li>
			  
              
           </ul>
</div>

<!-- END WORKS GRID -->

	</div>

    <div class="row">
    <div class="row">
    	</div>
	</div>


</section>

<!-- END DOCUMENTARY ############################################### -->




<!-- PROMOTIONAL SECTION ############################################### -->

<section id="promotional">


 <div class="row">
    	<div class="twelve columns centered">
    		<h2><br><br><br><br><br><br><br><br><br><br>Promotional Videos
	    		<i class="title_line"></i>
	      	</h2>
    	</div>
    </div>


    <div class="row">
    	<div class="nine columns centered">
    		<p class="subtittle" >Highway Child can create effective video to promote your organization, company or artist.</p>
    	</div>
    </div>

    <div class="row">

	    

<!-- WORKS GRID -->
		<ul id="og-grid" class="og-grid">
	
					<ul id="og-grid" class="og-grid">
	
			<li>
            <a href='http://youtube.com/embed/06cVcTd861Y'
  			 id="ilightbox10"
   				data-options="width: 800, height: 500">
   					 <figure class="cap-bot">
    					<img src="img/vids/promo/APR.png" alt="img01"/>

                    	<figcaption><h3>A Promise Renewed</h3><br>
Produced for UNICEF campaign to raise awareness about child survival.</span>
                   		<!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    	<!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                		</figcaption>
                	</figure>
			</a> 
            </li>             
              
           	<li>
            <a href='http://www.youtube.com/embed/whsE_Rx6lis'
  			          id="ilightbox11"
   				data-options="width: 800, height: 500">
   					 <figure class="cap-bot">
    					<img src="img/vids/promo/sport.png" alt="img01"/>

                    	<figcaption><h3>Sportandbar.com</h3><br>A fun commercial for a European web service.</span>
                   		<!--[if lte IE 9]> <div class="ch-itemie9 ch-img-3"></div> <![endif]--> 
                    	<!--[if gt IE 9]><!--><div class="ch-item ch-img-3"></div><!--<![endif]-->
                		</figcaption>
                	</figure>
			</a> 
            </li>       
                            
              
              
           </ul>
</div>

<!-- END WORKS GRID -->

	</div>
<h2><br><br><br><br><br><br><br></h2>


</section>


<!-- END PROMOTIONAL ############################################### -->





<!-- CONTACT SECTION ############################################### -->

<section id="contact">

    <div class="row">
    	<div class="twelve columns centered">
	    	<h2>Contact.
		    	<i class="title_line"></i>
		    </h2>
    	</div>
    </div>

    <div class="row">
    	<div class="eleven columns centered">
    		<p class="subtittle" >We're currently accepting new client projects.<br> Think we're cut out for the job? We'd love to hear from you.</p>
    	</div>
    </div>

    <div class="row">
    
    	<div class="seven columns">

          <form name="htmlform" method="post" action="form_sender.php">
            <input type="text" name="first_name" placeholder="YOUR LOVELY NAME" required>
            <input  type="email" name="email" placeholder="E-MAIL" required>
            <textarea name="comments" cols="1" rows="5" placeholder="TELL US EVERYTHING" required ></textarea>
            <button name="send" type="submit" class="submit">Alright</button>
          </form>

    	</div>
    	
    	<div class="five columns info">

          <h4>Where we're based</h4>
          <br>
          <p>N7th Street</p>
          <p>Williamsburg</p>
          <p>Brooklyn, NY 11211</p>
          

        </div>
        
    </div>

</section>


<!-- END CONTACT SECTION ############################################### -->





<!-- JAVASCRIPTS ############################################### -->  








  
<!-- FOOTER ############################################### -->

<footer>
 
  	<div class="row">
	    <div class="twelve columns">
	    	<img alt="YOURLOGO" src="img/logo_footer.png">
	    </div>
    </div>
</footer>
  
<!-- END FOOTER ############################################### -->

<script src="js/jquery.scrollto.js"> </script>
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="ilightbox/src/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="ilightbox/src/js/ilightbox.packed.js"></script>

<script src="js/waypoints.min.js" type="text/javascript"></script>
<script src="js/jquery.tweet.js" type="text/javascript"></script>
<script src="js/scripts.js" type="text/javascript"></script>    

<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script>
  $('.ilightbox').iLightBox();
</script>
<script>
  $('.ilightbox2').iLightBox();
</script>

<script>
  $('#ilightbox').iLightBox();
</script>
<script>
  $('#ilightbox2').iLightBox();
</script>
<script>
  $('#ilightbox3').iLightBox();
</script>
<script>
  $('#ilightbox4').iLightBox();
</script>
<script>
  $('#ilightbox5').iLightBox();
</script>
<script>
  $('#ilightbox6').iLightBox();
</script>
<script>
  $('#ilightbox7').iLightBox();
</script>
<script>
  $('#ilightbox8').iLightBox();
</script>
<script>
  $('#ilightbox9').iLightBox();
</script>
<script>
  $('#ilightbox10').iLightBox();
</script>
<script>
  $('#ilightbox11').iLightBox();
</script>

  </body>
</html>
