{% extends "clientBase.jinja2" %}

{% block body %}
	<section id="careerhighlights">
	    <div class="row">
	    	<div class="twelve columns centered">
	    		<h2>Career highlights
		    		<i class="title_line"></i>
		      	</h2>
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="nine columns centered">
	    		<p class="subtittle">SUBTITLE</p> 
	    		<ul>
	          		<li>This needs to be a bulleted list</li>
	          	</ul>
	    	</div>
	    </div>  
	</section>
	<section id="skills">
		<div class="row">
		    <div class="twelve columns centered">
		    	<h2>Skills</h2>
		    </div>
		</div>
	    <div class="row">
	    	<div class="nine columns centered">
	    		<p class="subtittle" >Do we need a subtitle here?</p>
	    	</div>
	    </div>
	</section>
{% endblock %}