{% extends "clientBase.jinja2" %}

{% block body %}
	<div id="body">
	    <div id="chart">
	    	<div class="controller">
	    		{% if hiring %}
		    		<ul>
			    		<li class="one">Tan Pear</li>   |    
			    		<li class="two">Orange Sun</li>   |    
			    		<li class="three">Black Bike</li>   |    
			    		<li class="four">Maroon Flag</li>
		    		</ul>
	    		{% elif teamMember %}
		    		<ul>
		    			<li>
		    				{% if teamMember == "1" %}
								Yellow Pumpkin:
							{% elif teamMember == "2" %}
								Blue Umbrella:
							{% elif teamMember == "3" %}
								Green Chair:
							{% endif %}
		    			</li>
			    		<li class="two-years">2 Years Ago</li>   |    
			    		<li class="one-year">1 Year Ago</li>   |    
			    		<li class="current">Current</li>
		    		</ul>
		    	{% endif %}
	    	</div>
	    </div>
	</div>
	
	{% if teamMember == "1" %}
		<script type="text/javascript" src="{{ url_for('static', filename='candidate1.js') }}"></script>
	{% elif teamMember == "2" %}
		<script type="text/javascript" src="{{ url_for('static', filename='candidate2.js') }}"></script>
	{% elif teamMember == "3" %}
		<script type="text/javascript" src="{{ url_for('static', filename='candidate3.js') }}"></script>
	{% elif candidate == "1" %}
		<script type="text/javascript" src="{{ url_for('static', filename='person1.js') }}"></script>
	{% elif candidate == "2" %}
		<script type="text/javascript" src="{{ url_for('static', filename='person2.js') }}"></script>
	{% elif candidate == "3" %}
		<script type="text/javascript" src="{{ url_for('static', filename='person3.js') }}"></script>
	{% elif hiring %}
		<script type="text/javascript" src="{{ url_for('static', filename='hiring.js') }}"></script>
	{% endif %}
{% endblock %}
