{% extends "clientBase.jinja2" %}

{% block body %}
	<div id="body">
	    <div class="options-container">
	    	<h1>Team Members</h1>
	    	<ul>
	    		<li><a href="/team/1/">Yellow Pumpkin</a></li>
	    		<li><a href="/team/2/">Blue Umbrella</a></li>
	    		<li><a href="/team/3/">Green Chair</a></li>
	    	</ul>
	    </div>
	</div>
{% endblock %}