
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->

<head>

    <meta charset="utf-8">
    <!-- Title and meta tag /-->
    <title>View candidate</title>
  
    
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <!-- Facebook Metadata 
    <meta property="fb:page_id" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content=""/>
    <meta property="og:title" content=""/>

    <!-- Google+ Metadata 
    <meta itemprop="name" content="">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- Stylesheet /-->
    
    <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/gumby.css">
    <link rel="stylesheet" href="css/media.css"> 
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="ilightbox/src/css/ilightbox.css"/>
    <link rel="stylesheet" href="css/rollovercaptions.css">
    <link rel="stylesheet" href="css/supersized.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/supersized.shutter.css" type="text/css" media="screen" />
    
    <link rel="stylesheet" href="css/boostrap-responsive.min.css" type="text/css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="css/rhinoslider.css">



    <script type="text/javascript" src="js/modernizr.custom.js"></script>
    <script type="text/javascript" src="js/mousewheel.js"></script>


<body>




<!-- HEADER HOME ############################################### -->


<!-- END HEADER HOME ############################################### -->


<!-- NAVIGATION ############################################### -->

		<div class="nav-container">
		
			<nav>
				 <div id="logo"><a href="#"><img src="img/hackstats-logotype-small.png"></a></div>
				<ul>
			 
					<li><a href="#home" class="selected">Home</a></li>
					<li><a href="#narrative">What</a></li>
					<li><a href="#musicvideos">Why</a></li>
                 	<li><a href="#documentary">How</a></li>
					<li><a href="#promotional">Who</a></li>
					<li><a href="#contact">Contact</a></li>
			 
				</ul>
				
			 
			</nav>
		
		</div> 

		
<!-- END NAVIGATION ############################################### -->



<!-- NARRATIVE SECTION ############################################### -->

<section id="careerhighlights">

    <div class="row">
    	<div class="twelve columns centered">
    		<h2>Career highlights
	    		<i class="title_line"></i>
	      	</h2>
    	</div>
    </div>


    <div class="row">
    	<div class="nine columns centered">
    		<p class="subtittle" > <ul>
          <li>This needs to be a bulleted list</li></p>
    	</div>
    </div>  
    
	
		</ul>
</div>

<!-- END WORKS GRID -->
</section>

<!--  END NARRATIVE ############################################### -->

<!-- MUSIC VIDEOS SECTION ############################################### -->

<section id="skills">

 <div class="row">
    	<div class="twelve columns centered">
    		<h2>Skills
	    		    		<i class="title_line"></i>
	      	</h2>
    	</div>
    </div>


    <div class="row">
    	<div class="nine columns centered">
    		<p class="subtittle" >Do we need a subtitle here?</p>
    	</div>
    </div>

    <div class="row">
    <div class= "nine columns centered">

	    

<!-- WORKS GRID -->
		<ul id="og-grid" class="og-grid">
	
			<li>
                         
            </li>
    
		
			
			<li>
                     
            </li>
            
			<li>
                         
            </li>
			
            <li>
                     
            </li>
            
           </ul>
</div>
</div>
<!-- END WORKS GRID -->

	</div>



</section>

<section id="codesamples">

 <div class="row">
      <div class="twelve columns centered">
        <h2>Code samples
                  <i class="title_line"></i>
          </h2>
      </div>
    </div>


    <div class="row">
      <div class="nine columns centered">
        <p class="subtittle">Github embed goes here</p>
      </div>
    </div>

    <div class="row">
    <div class= "nine columns centered">
  </div>
</section>


<!-- END MUSIC VIDEOS ############################################### -->


  
<!-- FOOTER ############################################### -->

<footer>
 
  	<div class="row">
	    <div class="twelve columns">
	    	<img alt="YOURLOGO" src="img/hackstats-logotype-small.png">
	    </div>
    </div>
</footer>
  
<!-- END FOOTER ############################################### -->

<script src="js/jquery.scrollto.js"> </script>
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="ilightbox/src/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="ilightbox/src/js/ilightbox.packed.js"></script>

<script src="js/waypoints.min.js" type="text/javascript"></script>
<script src="js/jquery.tweet.js" type="text/javascript"></script>
<script src="js/scripts.js" type="text/javascript"></script>    

<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script>
  $('.ilightbox').iLightBox();
</script>
<script>
  $('.ilightbox2').iLightBox();
</script>

<script>
  $('#ilightbox').iLightBox();
</script>
<script>
  $('#ilightbox2').iLightBox();
</script>
<script>
  $('#ilightbox3').iLightBox();
</script>
<script>
  $('#ilightbox4').iLightBox();
</script>
<script>
  $('#ilightbox5').iLightBox();
</script>
<script>
  $('#ilightbox6').iLightBox();
</script>
<script>
  $('#ilightbox7').iLightBox();
</script>
<script>
  $('#ilightbox8').iLightBox();
</script>
<script>
  $('#ilightbox9').iLightBox();
</script>
<script>
  $('#ilightbox10').iLightBox();
</script>
<script>
  $('#ilightbox11').iLightBox();
</script>

  </body>
</html>
