

<body>




<!-- HEADER HOME ############################################### -->


<!-- END HEADER HOME ############################################### -->


<!-- NAVIGATION ############################################### -->

		

		
<!-- END NAVIGATION ############################################### -->



<!-- NARRATIVE SECTION ############################################### -->


<!-- END WORKS GRID -->
</section>

<!--  END NARRATIVE ############################################### -->

<!-- MUSIC VIDEOS SECTION ############################################### -->



	    

<!-- WORKS GRID -->
		<ul id="og-grid" class="og-grid">
	
			<li>
                         
            </li>
    
		
			
			<li>
                     
            </li>
            
			<li>
                         
            </li>
			
            <li>
                     
            </li>
            
           </ul>
</div>
</div>
<!-- END WORKS GRID -->

	</div>



</section>

<section id="codesamples">

 <div class="row">
      <div class="twelve columns centered">
        <h2>Code samples
                  <i class="title_line"></i>
          </h2>
      </div>
    </div>


    <div class="row">
      <div class="nine columns centered">
        <p class="subtittle">Github embed goes here</p>
      </div>
    </div>

    <div class="row">
    <div class= "nine columns centered">
  </div>
</section>


<!-- END MUSIC VIDEOS ############################################### -->


  
<!-- FOOTER ############################################### -->


  
<!-- END FOOTER ############################################### -->

<script src="js/jquery.scrollto.js"> </script>
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="ilightbox/src/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="ilightbox/src/js/ilightbox.packed.js"></script>

<script src="js/waypoints.min.js" type="text/javascript"></script>
<script src="js/jquery.tweet.js" type="text/javascript"></script>
<script src="js/scripts.js" type="text/javascript"></script>    

<script type="text/javascript" src="js/jquery.easing.min.js"></script>

  </body>
</html>
